
body{
font-family: 'Roboto', sans-serif;

    
}
:root
{
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --mark-color: #2196F3;
    --main-color: #212121;
    --third-color: #757575;
    --background-color:#2F303A;
    --white-background-color: #FFFFFF

}
.header-part
{
    background-color: var(--white-background-color)
}
.first-block
{
   background-color: var(--background-color)
}
.third-block
{
    background-color: #F5F4FA
}
footer
{
    background-color: var(--background-color)
}
/*==================================HEADER====================================*/
.logo
{
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    font-family: var(--secondary-font)
}
.logo span
{
    color: #2196F3;
}
.first-nav-item 
{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-color)
}
.first-nav-item:hover
{
    color: var(--mark-color)
}
.first-nav-item:focus
{
    color: var(--mark-color)
}
.header-mail
{
    text-decoration: none;
    color: var(--third-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: var(--third-color);
}
.header-mail:hover
{
    color: var(--mark-color);
}
.header-mail:focus
{
    color: var(--mark-color);
}
.header-tel  
{
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: var(--third-color);
}
.header-tel:hover
{
    color: var(--mark-color)
}
.header-tel:focus
{
    color: var(--mark-color);
}
/*=======================================END OF HEADER==================================================*/

/*=======================================MAIN CONTAINER=================================================*/
.text-header{
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: white;   
}
.button-top
{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    text-align: center;
    cursor: pointer;
    background-color: var(--mark-color);
    color: white;   
}
.second-block-list-item .second-block-list-item-title
{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
}
.second-block-list-item
{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;  
    letter-spacing: 0.03em;
    color: var(--third-color);
}
.second-header
{   
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--main-color);
}
.third-header
{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    text-align: center;
}
.gallery-list-item-figcaption b
{   
font-weight: 500;
font-size: 16px;
line-height: 1.187;
text-align: center;
letter-spacing: 0.03em;
}
 .gallery-list-item-figcaption p 
{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--third-color);
}
/*===================================END OF MAIN CONTAINER============================================*/

.logo-footer
{
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    font-family: var(--secondary-font) 
}
.logo-footer
{
    color: #FFFFFF;
    text-decoration: none;
    font-family: var(--secondary-font);
}
.logo-footer span
{
    color: var(--mark-color)
}


.footer-list .footer-list-item
{
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    font-weight: 400;
    list-style-type: none;
    color: white;
    
}

.footer-list-item a
{
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    font-weight: 400;
    list-style-type: none;
    text-decoration: none;
    color: var(--third-color);
}
.footer-list-item a:hover
{
    color: var(--mark-color);
}

/*=======================================PORTFOLIO======================================================*/


.portfolio-body
{
     font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}
header a[href="index.html"]
{
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: black;
    
}

header a[href="index.html"] span
{
 color: #2196F3

}
.pnav-first li a
{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    
}
.pnav-first li a:hover
{
    color: #2196F3;
}


.pnav-first li 
{
    list-style: none;
}
.cont-list
{
    list-style: none;
    
}
.cont-list li :hover
{
    color: #2196F3;
}
.ptel
{
   
   text-decoration: none;
   font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

color: #757575;
}
.pmail
{
    
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}
.buttonsp .buttonf 
{
    background-color: #F5F4FA;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    font-weight: 500;
}
.buttonsp .buttonf:hover
{
    background-color: #2196F3;
    color: black;
    cursor: pointer;
}
.portfolioo b
{
font-weight: 700;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;

}
.portfolioo figcaption b
{
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;

}
.portfolioo figcaption p
{
    font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: #757575;

}
.backgroundf
{
    background-color: #2F303A;
}
.p-end .logop
{
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
}
.p-end .logop span
{
    color: #2196F3;
}
.p-end p
{
    color: white;
    font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;

}
.p-end a
{
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;

}
.mailport
{
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
text-decoration-line: underline;
color: #757575;
}
