
body{
    font-family: 'Roboto', sans-serif;
}


.logo
{
    text-decoration: none;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 700 bold;
    font-size: 26px;
    line-height: 30.52px;
    letter-spacing: 3%;

    
}
.logo span
{
    color: #2196F3;
}
.first-nav a 
{
    text-decoration: none;
    color:black;
    font-weight: 500;
    font-size: 14px;
    line-height:16.41px;
    letter-spacing: 2%; 

}
.first-nav a:hover
{
    color: #2196F3;
}
.first-mail
{
    text-decoration: none;
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    line-height:16.41px;
    letter-spacing: 2%; 

}
.first-mail:hover
{
    color: #2196F3;
}
.first-tel
{
    text-decoration: none;
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    line-height:16.41px;
    letter-spacing: 2%; 
}
.first-tel:hover
{
    color: #2196F3;
}
h1{
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 6%;

}

button 
{
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 6%;
    text-align: center;
    cursor: pointer;
}
.second-block ul li b
{
    font-size: 14px;
    line-height: 16.41px;
    letter-spacing: 3%;
}
.second-block ul li p
{
    color: #757575;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
}
.second-block h2
{
    font-size: 36px;
    line-height: 42.19px;
    letter-spacing: 3%;
    text-align: center;
}
.third-block h2
{
    font-size: 36px;
    line-height: 42.19px;
    letter-spacing: 3%;
    text-align: center;
}
figcaption b
{   
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: 3%;
    text-align: center;
}
figcaption p 
{
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: 3%;
    text-align: center;
    

}
.first-block
{
background-color: #2F303A;
}
.third-block
{
    background-color: #F5F4FA;
}
footer
{
    background-color: #2F303A;
    
}
address span
{
    color: #2196F3;
}


.address li 
{
    list-style-type:none;
    color: white;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    font-weight: 400;
}

address>a
{
    text-decoration: none;
    color: white;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    font-weight: 700;

}

.address li a
{
    text-decoration: none;
    color: white;
    font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
font-weight: 400;
}

header a[href="index.html"]
{
    text-decoration: none;
}